@use './colors' as c;
@use './fonts' as f;

* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
  font-family: f.$font-primary;
  background-color: c.$color-secondary;
  a {
    text-decoration: none;
    color: c.$color-primary;
  }

  a:hover {
    color: c.$color-tertiary;
  }

  h1 {
    font-family: f.$font-secondary;
  }


  @media (min-width: 600px) {

  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    
  }
}
